body {
    background-image: url("../images/XAP-Red-Back.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
margin: 20px;
}

p {
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font-size: 70px;
    text-shadow: 5px 5px 5px black;
}
.animal-buttons {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    background-color: orangered;
    border-radius: 5px;
    font-weight: bold;
}
#sea-input {
    float:right;
    margin-right: 5px;
}

#add_animal {
    border-radius: 5px;
    background-color: orangered;
    font-weight: bold;
}

#animals {
    display:inline-block;
    clear:both;
}
